html, body, #root {
  font-family: 'DIN Round Pro', sans-serif;;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
  overflow-x: hidden;
}

.landing-page {
  width: 100%;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

.main-content {
  display: flex;
}
.add-car-form {
  margin: 0 100px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100%;
}

.add-car-form h2 {
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.form-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
.icons{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.form-section label {
  flex: 1;
  margin-right: 10px;
}

.form-section label:last-child {
  margin-right: 0;
}

.form-section input,
.form-section select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #ff0000;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #ff0000;
}





.features-list {
  list-style-type: none;
  padding: 0;
}

.feature-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-start;
}

.feature-card .icon {
  flex: 0 0 auto;
  margin-right: 15px;
}

.feature-card .icon svg {
  font-size: 24px;
}

.feature-card .content {
  flex: 1 1 auto;
}

.feature-card .content span {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

.feature-card .content p {
  margin: 0;
  color: #666666;
}


.chart-section .chart-container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.get-started-section {
  margin: 40px 0;
}

.get-started-section p {
  margin-bottom: 20px;
}

.list-cars-button {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.list-cars-button:hover {
  background-color: #ff5a4d;
}
.mainlanding{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }

  .features-section, .chart-section {
    flex: 1 1 100%;
    margin: 10px 0;
  }

  .chart-section .chart-container {
    width: 100%;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure each section takes the full viewport height */
  width: 100%; /* Ensure each section takes the full viewport width */
}
.main{
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainnav{
  position: fixed;
  top: 32%;
  left: 25px;
}
.bar{
  position: absolute;
  left: -15px;
  top: 0;
  height: 40px;
  width: 4px;
  background-color: #ff0000;
  border-radius: 20px;
}
.i{
  color: #ff0000;
  font-size: 25px;
}
.iconbar a {
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}

.iconbar a span {
  transition: all .5s ease;
  pointer-events: none; /* Make the entire link unclickable */
  color: transparent;
}
.iconbar a:hover span{
  color: currentColor;
}

.cards-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 16%;
margin-top: 20px;
}
.card p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  font-size: 20px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 0;
  padding-bottom: 30%; /* 30% of the card's width */
  position: relative;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex-grow: 1;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card-content p {
  margin: 0;
  color: #555;
}
.btndelete {
  margin: 10px auto;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 100px;
}

.btndelete:hover {
  background-color: #d32f2f;
}
.car-dashboard {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 90vw;
  margin: auto;
}


.car-details {
  display: grid;
  place-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 500px;
  height: 513px;
margin-bottom: 0;
padding: 20px;
}
.car-details img{
  width: 200px;
  height: 200px;
}
.map{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  color: #cc0000;
  width: 350px;
  height: inherit;
  padding: 20px !important;
}
.car-details img {
  width: 200px;
  height: auto;
  margin-right: 20px;
  padding-top: 20px;
}

.car-info {
  flex: 1;
}

.controls {
  display: flex;
  gap: 10px;
  padding-bottom: 2px;
}

.control-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stat{
  display: grid;
}
.control-btn:hover {
  background-color: #d32f2f;
}
.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.values > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.Vehicle{
  color: white;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main{
  display: grid;

}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff0000;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #cc0000;
}
.properties{
  display: flex;
  justify-content: center;
  gap: 2px;
  width: 100vw;
}
.allowlocation{
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #cc0000;
  font-size: 20px;
  font-family: sans-serif;
}
.items{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  color: #cc0000;
  text-align: center;
  font-size: 1.5rem;
}

.span{
  color: blue;
  font-weight: bold;
}
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.status-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.status-header p {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.down-arrow {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.status {
  font-size: 20px;
  color: #ff0000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  width: 80%;
  padding: 10px;
}
.status span{
  color: blue;
  padding: 10px;
}
.stat{

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 50px;
    justify-content: space-between; /* This should work */
    padding: 20px;
 
}
.lastdate{
  color: #333;
  margin: 30px;
}
.all{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/* Landing.css */

.landing-page {
  font-family: 'Arial', sans-serif;
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
}

header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 3rem;
  margin-bottom: 10px;
}

.subheader {
  font-size: 1.2rem;
  color: #555;
}

section {
  margin-bottom: 40px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

span {
  font-weight: bold;
}

button {
  padding: 12px 24px;
  font-size: 1.2rem;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ff5a4d;
}

footer {
  text-align: center;
  margin-top: 50px;
  font-size: 1rem;
}

.one{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
  padding: 10px;
}
.two{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 20px;
padding: 10px;
}
.one p span{
  color: blue;
}
.two p span{
  color: blue;
}
.lastdate{
  color: #ff0000;
}
.lastdate span{
  color: blue;
}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}
.leaflet-container{
margin: 10px;
width: 100%;
}

@media screen and (max-width: 768px) {
  .controls{
    display: grid;
  }
  .properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100vw;
  }


  .card {
    padding: 8px;
    font-size: 14px;
    width: 80%;
    margin: 10px auto;
  }

  .card p {
    margin-left: 8px;
  }
  .items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.stat {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px; /* Gap between grid items */
}

.stat > div {
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Use flexbox for content alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  font-size: 18px; /* Font size */
}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px
}
}

@media screen and  (max-width: 550px) {
  .add-car-form{
    margin: 10px;
  }
  .mainnav{
  top: 0;
  display: flex;
  }
  .bar{
    display: none;
  }
  .car-details{

    margin: 0 20px;
    padding: 0;
    width: auto;
  }
  .stat{
    display: grid;
  }
  .leaflet-container{
    margin: auto;
  }
  .dates{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .properties {
    grid-template-columns: 1fr 1fr;
  }
  .card {
    padding: 6px;
    font-size: 12px;
    flex-wrap: wrap;
    margin: 20px auto;
  }

  .card p {
    margin-left: 6px;
  }
  .car-dashboard{
    display: grid;
   padding: 6px;
    width: 100%;
   
  }
  .echarts-for-react{
    width: 100%;
  }
  .items{
    grid-template-columns: 1fr;
    width: 100%;
    gap: 0;
    padding: 0;
  place-items: center;
    margin: 0;
  }
  .card p{
  margin: auto;
  }
  .items div{
    width:80%;
  }
  .charts{
    width: 100%;
  }
  .map{
    margin-top: 10px;
    margin: 10px 20px;
    padding: 0;
    width: auto;
  }
}