html, body, #root {
  font-family: 'DIN Round Pro', sans-serif;;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100vw;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ensure each section takes the full viewport height */
  width: 100%; /* Ensure each section takes the full viewport width */
}
.main{
  width: 100%;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainnav{
  position: fixed;
  top: 32%;
  left: 25px;
}
.bar{
  position: absolute;
  left: -15px;
  top: 0;
  height: 40px;
  width: 4px;
  background-color: #ff0000;
  border-radius: 20px;
}
.i{
  color: #ff0000;
  font-size: 25px;
}
.iconbar a {
  text-decoration: none;
  height: 40px;
  display: flex;
  align-items: center;
}

.iconbar a span {
  transition: all .5s ease;
  pointer-events: none; /* Make the entire link unclickable */
  color: transparent;
}
.iconbar a:hover span{
  color: currentColor;
}

.cards-container {
  display: flex;

  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  width: 16%;
margin-top: 20px;
}
.card p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
}

.card:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.card-image {
  width: 100%;
  height: 0;
  padding-bottom: 30%; /* 30% of the card's width */
  position: relative;
}

.card-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-content {
  padding: 20px;
  flex-grow: 1;
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 1.5em;
}

.card-content p {
  margin: 0;
  color: #555;
}
.btndelete {
  margin: auto 10px;
  padding: 8px 16px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 300px;
}

.btndelete:hover {
  background-color: #d32f2f;
}
.car-dashboard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  width: 100vw;
}

.car-details {
  display: grid;
  place-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 350px;
  padding: 20px;
}
.car-details img{
  width: 200px;
  height: 200px;
}
.map{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  color: #cc0000;
  width: 350px;
}
.car-details img {
  width: 250px;
  height: auto;
  margin-right: 20px;
}

.car-info {
  flex: 1;
}

.controls {
  display: flex;
  gap: 10px;
}

.control-btn {
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.stat{
  display: grid;
}
.control-btn:hover {
  background-color: #d32f2f;
}
.custom-tooltip {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.values {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.values > div {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100px;
  text-align: center;
}

.Vehicle{
  color: white;
  background-color: red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.main{
  display: grid;

}
.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-title {
  margin-bottom: 20px;
  font-size: 24px;
  color: #ff0000;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

.form-label {
  display: block;
  margin-bottom: 5px;
  color: #333;
}

.form-input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #ff0000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form-button:hover {
  background-color: #cc0000;
}
.properties{
  display: flex;
  justify-content: space-around;
  gap: 4px;
  width: 100vw;
}
.allowlocation{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #cc0000;
  font-size: 20px;
  font-family: sans-serif;
}
.items{
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  color: #cc0000;
  text-align: center;
}

.span{
  color: blue;
  font-weight: bold;
}
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
  width: 300px;
  margin: 15px auto;
}

.status-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.status-header p {
  font-size: 16px;
  font-weight: bold;
  margin-right: 10px;
}

.down-arrow {
  font-size: 16px;
  color: #555;
  cursor: pointer;
}

.status {
  font-size: 20px;
  color: #ff0000;
}
.status span{
  color: blue;
  padding: 10px;
}
.stat{

    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
    justify-content: space-between; /* This should work */
    padding: 20px;
 
}
.lastdate{
  color: #333;
  margin: 30px;
}
.all{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.one{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;
}
.two{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 20px;

}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}
@media screen and (max-width: 768px) {
  .controls{
    display: grid;
  }
  .properties {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }


  .card {
    padding: 8px;
    font-size: 14px;
    width: 80%;
  }

  .card p {
    margin-left: 8px;
  }
  .items{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.stat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr; /* Two rows of equal height */
  gap: 10px; /* Gap between grid items */
}

.stat > div {
  background-color: #f0f0f0; /* Background color for the divs */
  padding: 20px; /* Padding inside each div */
  border-radius: 8px; /* Rounded corners */
  display: flex; /* Use flexbox for content alignment */
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  font-size: 18px; /* Font size */
}
.dates{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px
}
}

@media screen and  (max-width: 480px) {
  .stat{
    display: grid;
  }
  .dates{
    display: flex;
    flex-direction: column;
    gap:20px;
  }
  .properties {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  .card {
    padding: 6px;
    font-size: 12px;
    flex-wrap: wrap;
  }

  .card p {
    margin-left: 6px;
  }
  .car-dashboard{
    display: grid;
    gap: 10px;
    padding: 0;
  }
  .echarts-for-react{
    width: 100vw;
  }
  .lefleat-container{
    width: 100vw;
  }
  .items{
    grid-template-columns: 1fr;
    width: 80vw;
    gap: 0;
    padding: 0;
    margin: 0;
  }
  .card p{
  margin: auto;
  }
  .items div{
    width:80%;
  }
  .charts{
    width: 100vw;
  }
}